<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="icon" href="./static/images/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <a href="#" class="logo">Portfolio</a>
        <div class="toggle"></div>
        <ul>
            <li><a href="#" id="n1">Home</a></li>
            <li><a href="#about" id="n2">About</a></li>
            <li><a href="#project" id="n3">Projects</a></li>
            <li><a href="#contact" id="n4">Contact</a></li>
        </ul>
    </header>
    <main>
        <section class="banner" id="home">
            <div class="textbx">
                <h2>Hello, It's<br><span>Harikrishnan</span></h2>
                <h3 class="heading white">I'm a Student and a learner</h3>
                <a href="./static/images/resume.pdf" class="btn" target="_blank">Get CV</a>
            </div>
        </section>
        <section id="about" class="about">
            <div class="heading white">
                <h2>About me</h2>
                <p>I am the one who loves to learn and develope new Things</p>
            </div>
            <div class="aboutBx">
                <div class="aboutBxInfo">
                    <h3>I'm an Engineering Student and a self-learner about new technologies.</h3><br>
                    <p class="det">I am specialized in Electronics and Communication Engineering.<br>
                        Gaming and Coding have been my passion since I started working<br> with computers but I found
                        myself
                        into web design/development.
                    </p>
                    <h3>Here are some things which i have worked with:</h3>
                    <div class="spans1">
                        <span>
                            <h4>C</h4>
                        </span>
                        <span>
                            <h4>Java</h4>
                        </span>
                        <span>
                            <h4>Python</h4>
                        </span>
                    </div>
                    <div class="spans1">
                        <span>
                            <h4>HTML</h4>
                        </span>
                        <span>
                            <h4>CSS</h4>
                        </span>
                        <span>
                            <h4>Javascript</h4>
                        </span>
                    </div>
                    <div class="spans1">
                        <span>
                            <h4>Github</h4>
                        </span>
                        <span>
                            <h4>Tizen</h4>
                        </span>
                        <span>
                            <h4>Flask</h4>
                        </span>
                    </div>
                </div>
                <div class="imgBx"><img src="./static/images/coatboy.png" alt=""></div>
            </div>
        </section>
        <section id="project" class="projects">
            <div class="heading white">
                <h2>Projects</h2>
                <p>Here is the list of the projects done by me</p>
            </div>
            <div class="content">
                <div class="projetBx">
                    <img src="./static/images/searchblood.jpg" alt="projet1">
                    <h2>Blood Donor Webpage Using Flask</h2>
                    <p>It is a simple webpage created by using HTML, CSS, Python, Flask and Sqlite3 is used for
                        database.
                        It is used to get the detail of the suitable Blood Donor who registred in this page before. A
                        Donor is suitable who has not given blood in last 4 months.
                    </p>
                    <a href="/blood-index" target="_blank">Visit</a>
                </div>
                <div class="projetBx">
                    <img class="pro" src="./static/images/prolist.png" alt="icon1">
                    <h2>Project Listing Webpage Using Flask</h2>
                    <p>It is a Listing Webpage in which it is used to list the projects of the students and also used to
                        organize the projects of the entire College.It is also created by using HTML, CSS, Python, Flask
                        and
                        Sqlite3 is used for database.</p>
                    <a href="/pro" target="_blank">Visit</a>
                </div>
                <div class="projetBx">
                    <img class="pro" src="./static/images/amazon.jpg" alt="icon1">
                    <h2 style='margin-top:3vh;'>Amazon Price Tracker Using Python</h2>
                    <p>This webpage tracks the price of the product entered by the user and notify price to the user once the price fell down below their desired price.This page uses web scrapping method provided by Beautifulsoup python library.</p>
                    <a href="https://harikrishnanp.herokuapp.com/" target="_blank">Visit</a>
                </div>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="heading white">
                <h2>Contact Me</h2>
                <p>Send me your Precious Comment</p>
            </div>
            <div class="content">
                <div class="contactInfo">
                    <h3>Contact Information</h3>
                    <div class="contactInfoBx">
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>Kumaran Nagar,Koolipatti,<br>Reddipatti(PO),Namakkal,<br>Tamilnadu-637002.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="text">
                                <h3>Phone</h3>
                                <p>+91-9080053714</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="text">
                                <h3>E-Mail</h3>
                                <p>harimee1504@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formBx">
                    <form method="POST" action="/contact" id="contact-form">
                        <h3>Message Me</h3>
                        <input type="text" name="name" placeholder="Name" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="text" name="subject" placeholder="Subject" required>
                        <textarea name="message" cols="30" rows="10" placeholder="Message" required></textarea>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
            integrity="sha512-HzAEuXwhLxwm/Jj+5ecdjzrRVrjuh2ZeIxyT1Ln37TO5pWNMnKBuU7cfd1wvRQ/k86w1oC174Yk1T7aRlBpIcA=="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js"
            integrity="sha512-vWutwDjKJo+VMAA7IrS/ICTmVYXRMdqtXA27MSuPxGjkbYnKeUKPrIpfsAwIXCzaSDF/qRy/L85ko/yxW0AIiA=="
            crossorigin="anonymous"></script>
        <script src="./static/main.js"></script>
    </main>
</body>

</html>