<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Be a Proud Donor</title>
    <link rel="icon" href="./static/images/s1.png" type="image/icon"/>
    <style>
        {% block style%}
        {% endblock %}
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
		$('form .abc').prop("disabled", true);
		$(".agree").click(function(){
            if($(this).prop("checked") == true){
                $('form .abc').prop("disabled", false);
            }
            else if($(this).prop("checked") == false){
                $('form .abc').prop("disabled", true);
            }
        });
    });
</script>
</head>
<body>
    {% block body%}
    {% endblock%}
</body>
</html>